In [1]:
import pandas as pd

In [2]:
X_train = pd.read_csv("AMF_train_X.csv", index_col=0)
Y_train = pd.read_csv("AMF_train_Y.csv", index_col=0)

In [3]:
X_train

,Share,Day,Trader,OTR,OCR,OMR,min_time_two_events,mean_time_two_events,10_p_time_two_events,med_time_two_events,...,min_dt_TV1_TV2,mean_dt_TV1_TV2,med_dt_TV1_TV2,min_dt_TV1_TV3,mean_dt_TV1_TV3,med_dt_TV1_TV3,min_dt_TV1_TV4,mean_dt_TV1_TV4,med_dt_TV1_TV4,NbSecondWithAtLeatOneTrade
Index,,,,,,,,,,,,,,,,,,,,,
1,Isin_8,Date_24,Trader_10,2.272727,8.333333,12.500000,0.0,5117.830300,0.000000,419.688500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
2,Isin_87,Date_29,Trader_10,1.696629,25.166667,21.571429,0.0,1846.968401,0.000074,0.003374,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15
3,Isin_87,Date_23,Trader_10,1.482759,47.300000,118.250000,0.0,686.300630,0.000071,0.000599,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63
4,Isin_12,Date_11,Trader_10,1.705882,14.500000,29.000000,0.0,2174.335265,0.000000,6.152666,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4
5,Isin_87,Date_9,Trader_10,1.517730,26.750000,NaN,0.0,944.008551,0.000071,0.001364,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,38
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
105778,Isin_84,Date_27,Trader_60,1.150000,23.000000,NaN,0.0,736.500080,0.000000,0.000188,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3
105779,Isin_102,Date_18,Trader_60,1.352941,23.000000,NaN,0.0,63.672695,0.000000,0.000963,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7
105780,Isin_12,Date_13,Trader_60,1.146667,86.000000,NaN,0.0,708.440816,0.000000,0.000578,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
105781,Isin_27,Date_30,Trader_60,1.179191,204.000000,NaN,0.0,384.893976,0.000000,0.000536,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,35
105782,Isin_47,Date_12,Trader_60,1.178571,66.000000,NaN,0.0,122.636320,0.000000,0.000689,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9

In [10]:
X_train.Day.unique().shape

(22,)

In [11]:
X_train.Share.unique().shape

(119,)

In [12]:
22*119*86

225148

In [29]:
X_train.shape[0]

105782

In [32]:
#Pourcentage de NaN dans les données
print("Pourcentage de NaN dans les données")
print(X_train.isna().sum()/X_train.shape[0]*100)

Pourcentage de NaN dans les données
Share                          0.000000
Day                            0.000000
Trader                         0.000000
OTR                            1.591008
OCR                            0.000000
OMR                           45.009548
min_time_two_events            0.000000
mean_time_two_events           0.000000
10_p_time_two_events           0.000000
med_time_two_events            0.000000
25_p_time_two_events           0.000000
75_p_time_two_events           0.000000
90_p_time_two_events           0.000000
max_time_two_events            0.000000
min_lifetime_cancel            0.000000
mean_lifetime_cancel           0.000000
10_p_lifetime_cancel           0.000000
med_lifetime_cancel            0.000000
25_p_lifetime_cancel           0.000000
75_p_lifetime_cancel           0.000000
90_p_lifetime_cancel           0.000000
max_lifetime_cancel            0.000000
NbTradeVenueMic                0.000000
MaxNbTradesBySecond            0.000000
MeanNbTradesBySecond           0.000000
min_dt_TV1                     4.003517
mean_dt_TV1                    4.003517
med_dt_TV1                     4.003517
min_dt_TV1_TV2                23.799890
mean_dt_TV1_TV2               23.799890
med_dt_TV1_TV2                23.799890
min_dt_TV1_TV3                23.874572
mean_dt_TV1_TV3               23.874572
med_dt_TV1_TV3                23.874572
min_dt_TV1_TV4                23.773421
mean_dt_TV1_TV4               23.773421
med_dt_TV1_TV4                23.773421
NbSecondWithAtLeatOneTrade     0.000000
dtype: float64

In [6]:
X_train.columns

Index(['Share', 'Day', 'Trader', 'OTR', 'OCR', 'OMR', 'min_time_two_events',
       'mean_time_two_events', '10_p_time_two_events', 'med_time_two_events',
       '25_p_time_two_events', '75_p_time_two_events', '90_p_time_two_events',
       'max_time_two_events', 'min_lifetime_cancel', 'mean_lifetime_cancel',
       '10_p_lifetime_cancel', 'med_lifetime_cancel', '25_p_lifetime_cancel',
       '75_p_lifetime_cancel', '90_p_lifetime_cancel', 'max_lifetime_cancel',
       'NbTradeVenueMic', 'MaxNbTradesBySecond', 'MeanNbTradesBySecond',
       'min_dt_TV1', 'mean_dt_TV1', 'med_dt_TV1', 'min_dt_TV1_TV2',
       'mean_dt_TV1_TV2', 'med_dt_TV1_TV2', 'min_dt_TV1_TV3',
       'mean_dt_TV1_TV3', 'med_dt_TV1_TV3', 'min_dt_TV1_TV4',
       'mean_dt_TV1_TV4', 'med_dt_TV1_TV4', 'NbSecondWithAtLeatOneTrade'],
      dtype='object')

In [33]:
Y_train

               type
Trader
Trader_285      MIX
Trader_114  NON HFT
Trader_110  NON HFT
Trader_57   NON HFT
Trader_128  NON HFT
...             ...
Trader_140      MIX
Trader_451      MIX
Trader_438      MIX
Trader_278      HFT
Trader_330      MIX

[86 rows x 1 columns]

In [37]:
X_test = pd.read_csv("AMF_test_X.csv", index_col=0)
results_rf_bench = pd.read_csv("random_file.csv", index_col=0)

In [35]:
X_test

,Share,Day,Trader,OTR,OCR,OMR,min_time_two_events,mean_time_two_events,10_p_time_two_events,med_time_two_events,...,min_dt_TV1_TV2,mean_dt_TV1_TV2,med_dt_TV1_TV2,min_dt_TV1_TV3,mean_dt_TV1_TV3,med_dt_TV1_TV3,min_dt_TV1_TV4,mean_dt_TV1_TV4,med_dt_TV1_TV4,NbSecondWithAtLeatOneTrade
Index,,,,,,,,,,,,,,,,,,,,,
1,Isin_106,Date_12,Adelaide,1.114754,68.000000,NaN,0.000012,22.905096,0.000061,0.003870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16
2,Isin_94,Date_2,Adelaide,1.666667,5.000000,NaN,0.001970,67.630572,0.001970,0.005786,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
3,Isin_106,Date_13,Adelaide,1.088235,37.000000,NaN,0.000000,39.506490,0.000000,0.000485,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
4,Isin_106,Date_7,Adelaide,2.250000,4.500000,NaN,0.000000,103.378733,0.000000,0.004708,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
5,Isin_106,Date_20,Adelaide,1.266667,19.000000,NaN,0.000026,49.417177,0.000063,0.000152,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85300,Isin_63,Date_22,The Magic Mirror,2.871595,5.857143,123.000000,0.000000,883.517330,0.000007,17.002092,...,0.001,140.261809,64.474,0.001,167.194486,59.901,0.001,141.082862,59.901,219
85301,Isin_64,Date_17,The Magic Mirror,5.212121,3.071429,NaN,0.000000,172.979466,0.000005,68.548670,...,0.078,402.834120,231.139,0.001,248.172895,78.285,0.054,170.699750,78.285,48
85302,Isin_68,Date_2,The Magic Mirror,4.455210,3.856013,16.355705,0.000000,89.774309,0.000083,1.865339,...,0.001,43.524025,19.587,0.001,40.202416,15.388,0.001,41.509048,16.328,671
85303,Isin_70,Date_5,The Magic Mirror,6.447761,2.989619,432.000000,0.000000,160.000783,0.000000,31.689264,...,0.001,178.700616,88.792,0.001,199.806264,109.091,0.001,181.848526,88.792,165
85304,Isin_80,Date_7,The Magic Mirror,7.700315,2.630388,135.611111,0.000000,76.635420,0.204431,28.711662,...,0.001,90.040371,31.515,0.001,97.406735,50.193,0.001,83.814411,31.515,250

In [38]:
results_rf_bench

                     type
Trader
Adelaide          NON HFT
Alana             NON HFT
Alcmene               MIX
Alice                 MIX
Alices Sister     NON HFT
...                   ...
Monstro           NON HFT
Morgana               MIX
The Doorknob          HFT
The Doorman           MIX
The Magic Mirror  NON HFT

[85 rows x 1 columns]